<div class="container">    
    <div style="width: 100%;height: 66px;"></div>
    <div style="width: 100%;height: 66px;">
        <h2>User Account</h2>
    </div>
    <div class="card py" style="padding: 12px 40px; border-color: rgb(129, 221, 221);">
        <h3>Password change</h3>

        <div class="d-flex" style="display: inline;">
            <label id="style">Name :</label>
            <label>{{user.Uname}}</label>
        </div>

        <form action="/newPassword" onsubmit="return checkPass(this)" method="post">
            <div class="d-flex">
            <label id="style" for="">Current password :</label>
            <input type="text" name="pass" minlength="4" required>
            </div>
            <div class="d-flex">
            <label id="style" for="">Enter old password :</label>
            <input type="text" id="old" name="pas2" minlength="4" required>
            <p class="alrt">strong</p>
           </div>
           <div class="d-flex">
            <label id="style" for="">Enter new password :</label>
            <input type="text" id="new" name="password" minlength="4" required>
            <p class="alrt1 " id="err"></p>
            </div>
            <div>                
        </div>
    </div>
    <div class="d-flex  jp" style="justify-content: space-between;">
        <input class="ap" type="submit" value="Back"> 
        {{#if msg}}
        <p class="text-success" style="font-weight: 400; font-style: italic;">Password {{this.msg}} </p>
        {{/if}}
        <input class="ap" value="Submit" type="submit">
        </form>

       
    </div>
</div>

<script>

    function checkPass(form){
        pas1 = form.old.value;
        pas2 = form.new.value;

        if(pas1 != pas2)
             $("#err")
            .html("Password does not match !")
            .css("color","red")
         else
            $("#err")
             .html("Password match !")
             .css("color" , "green")
    }
</script>
    {{!-- $(document).ready(function(){
        $("#new").change(function(){
         let old = $("#old").val()
         let new1 = $("#new").val()
         console.log("ols",old)
          console.log("new",new1)   
         if(old != new1)
            $("#err")
            .html("Password does not match !")
            .css("color","red")
         else
            $("#err")
             .html("Password match !")
             .css("color" , "green")
        })
    }) --}}
