<h1>hello world</h1>
<header>Programming basic terms</header>
<p>testing prurpose OOP C program the word object-oriented is combination of two terms object and oriented.<br>The dictionary maning of an obect is "an entiney that exist on the real world" and orinted meand "interested in a prticular kind of something or entitey "<br>In the basic terms, OOP is a programmng pattern that is build arround objects or entities, so it's called object -oriented programming</p>
<p>testing prurpose OOP C program the word object-oriented is combination of two terms object and oriented.<br>The dictionary maning of an obect is "an entiney that exist on the real world" and orinted meand "interested in a prticular kind of something or entitey "<br>In the basic terms, OOP is a programmng pattern that is build arround objects or entities, so it's called object -oriented programming</p>
<p>testing prurpose OOP C program the word object-oriented is combination of two terms object and oriented.<br>The dictionary maning of an obect is "an entiney that exist on the real world" and orinted meand "interested in a prticular kind of something or entitey "<br>In the basic terms, OOP is a programmng pattern that is build arround objects or entities, so it's called object -oriented programming</p>
<p>testing prurpose OOP C program the word object-oriented is combination of two terms object and oriented.<br>The dictionary maning of an obect is "an entiney that exist on the real world" and orinted meand "interested in a prticular kind of something or entitey "<br>In the basic terms, OOP is a programmng pattern that is build arround objects or entities, so it's called object -oriented programming</p>
<p>testing prurpose OOP C program the word object-oriented is combination of two terms object and oriented.<br>The dictionary maning of an obect is "an entiney that exist on the real world" and orinted meand "interested in a prticular kind of something or entitey "<br>In the basic terms, OOP is a programmng pattern that is build arround objects or entities, so it's called object -oriented programming</p>
<div class='container d-flex' style="height: 300px;">
<div style="width:50%;height:100%; background-color:aqua"></div>
<div style="width:50%;height:100%; background-color:blueviolet"></div>
</div>
<footer>Thank you</footer>